
.app{
  display: flex;
  justify-content: center;
  background-color: beige;
}
.homepage-header{
  display: flex;
  justify-content: flex-end;
  margin:10px
}
.adduser{
  margin-left: 5px !important;
}

.table-header{
  background-color: #70ebd9;
}
.table-heading{
  font-weight: bold !important;
}
#table-action{
  text-align: center;
}
